@charset "UTF-8";
/***************************************
 * Boost!Echo カスタマイズCSS
 * 対象：個人目標管理一覧
 * 概要:
 * - 共通の色/余白/角丸などを変数化
 * - 既存CSSをSCSSネストで整理
 * 対象: .kb-echo配下
 ****************************************/
body .kb-echo * {
  font-size: 16px;
}

body .kb-echo .kb-echo-main {
  padding: 30px;
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-view :is(td, th) {
  background-color: #fff;
}