
/* 目標設定年度 & 期間を並べる */
body div.kb-field[field-id="目標設定年度"],
body div.kb-field[field-id="目標設定期間"] {
  display: inline-block !important;
  width: 48% !important;
  vertical-align: top !important;
  margin-right: 2% !important;
}

/* 表形式の整形 */
body .kb-table {
  display: table !important;
  width: 100% !important;
  border-collapse: collapse !important;
}

body .kb-table > div {
  display: table-row !important;
}

body .kb-table > div > div {
  display: table-cell !important;
  border: 1px solid #ccc !important;
  padding: 6px !important;
}



